a{
    text-decoration: none;
    color: red;
    transition: color 0.3s;
}
a:hover{
    border-bottom: 2px dashed black ;
    font-size: 18px;
    color: orange;
    transition: color 0.3s;
}

header{
    background-color: grey;
}

header div.header-content{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    
}
header div.header-content nav div{
    display: flex;
    justify-content: space-between;
    width: 410px;
}
body{
    margin: 0 auto;
    max-width: 1300px;
    font-family: 'Pacifico', cursive;
}

main p{
    font-size: 20px;
}

.images{
    display: flex;
    justify-content: space-around;
}
main{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}